@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

:root {
    --back: #2C423F;
    --back-box: #4C5B61;
    --front-box: #829191;
    --good-gray: #C5C5C5;
}

* {
    position: absolute;
    font-family: Inconsolata;
    color: white;
    background: var(--back);
}

strong, i {
    background: transparent;
}

.title {
    left: 11px;
    font-size: 38px;
    line-height: 20px;
    text-decoration: underline;
}

.site-name-and-logo {
    top: 20px;
    left: 20px;

    width: 507px;
    height: 200px;

    background: var(--back-box);
}

.site-name {
    top: -40px;
    left: 212px;
    
    width: 285px;
    height: 180px;

    font-weight: bold;
    font-size: 75px;
    line-height: 70px;
    display: flex;
    align-items: center;
    text-align: center;

    background: var(--front-box);
}

.logo {
    top: 10px;
    left: 10px;

    width: 180px;
    height: 180px;
}

.twitch-panel {
    top: 20px;
    left: 543px;

    width: 338px;
    height: 200px;

    background: var(--back-box);
}

.twitch-panel h3 {
    top: -22px;
    left: 20px;

    width: 297px;
    height: 147px;

    font-size: 42px;
    font-weight: bold;
    line-height: 65px;
    text-align: center;
    padding-top: 13px;

    background: var(--front-box);
}

.twitch-panel iframe {
    top: 13px;
    left: 14px;

    width: 310px;
    height: 174px;

    background: #9146ff;
}

.nav-menu {
    top: 20px;
    left: 898px;

    width: 507px;
    height: 200px;

    font-weight: bold;
    font-size: 34px;
    line-height: 33px;
    text-align: center;

    background: var(--back-box);
}

.nav-menu a {
    padding-top: 15px;
    background: var(--front-box);
}

.nav-menu .top-btn {
    top: -15px;

    width: 135px;
    height: 57px;
}

.nav-menu .bottom-btn {
    top: 73px;

    width: 220px;
    height: 57px;

    font-size: 42px;
}

.home-btn {
    left: 20px;
}

.posts-btn {
    left: 185px;
}

.links-btn {
    left: 350px;
}

.projects-btn {
    left: 20px;
}

.about-me-btn {
    left: 265px;
    color: darkturquoise;
}

.div-bar {
    top: 245px;
    left: 20px;

    width: 1385px;
    height: 28px;

    background: #00AE32;
}

.information-panel {
    top: 300px;
    left: 20px;

    width: 1056px;
    height: 1750px;

    background: var(--back-box);
}

.information-panel p {
    top: -12px;
    left: 20px;

    width: 1006px;
    height: 1708px;

    font-size: 32px;
    line-height: 34px;
    padding-left: 10px;
    padding-top: 4px;

    background: var(--front-box);
}

.stats-panel {
    top: 300px;
    left: 1091px;

    width: 314px;
    height: 1750px;

    background: var(--back-box);
}

.stats-panel img {
    top: 20px;
    left: 20px;

    width: 274px;
    height: 274px;

    background: var(--front-box);
}

.stats-panel h3 {
    top: 294px;
    left: 20px;

    width: 268px;

    font-size: 30px;
    font-weight: bold;
    line-height: 31px;
    padding-top: 3px;
    padding-left: 6px;
    padding-bottom: 6px;

    background: var(--front-box);
}

.stats-panel p {
    top: 338px;
    left: 20px;

    width: 271px;
    height: 1370px;

    font-size: 25px;
    line-height: 27px;
    padding-left: 3px;

    background: var(--front-box);
}

.bottom-space {
    top: 2060px;
    opacity: 0;
}