@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

:root {
    --back: #2C423F;
    --back-box: #4C5B61;
    --front-box: #829191;
    --good-gray: #C5C5C5;
}

* {
    position: absolute;
    font-family: Inconsolata;
    color: white;
    background: var(--back);
}

strong {
    background: transparent;
}

.site-name-and-logo {
    top: 20px;
    left: 20px;

    width: 507px;
    height: 200px;

    background: var(--back-box);
}

.site-name {
    top: -18px;
    left: 212px;
    
    width: 282px;
    height: 180px;

    font-weight: bold;
    font-size: 42px;
    line-height: 44px;
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 3px;

    background: var(--front-box);
}

.logo {
    top: 10px;
    left: 10px;

    width: 180px;
    height: 180px;
}

.twitch-panel {
    top: 20px;
    left: 543px;

    width: 338px;
    height: 200px;

    background: var(--back-box);
}

.twitch-panel h3 {
    top: -22px;
    left: 20px;

    width: 297px;
    height: 147px;

    font-size: 42px;
    font-weight: bold;
    line-height: 65px;
    text-align: center;
    padding-top: 13px;

    background: var(--front-box);
}

.twitch-panel iframe {
    top: 13px;
    left: 14px;

    width: 310px;
    height: 174px;

    background: #9146ff;
}

.nav-menu {
    top: 20px;
    left: 898px;

    width: 507px;
    height: 200px;

    font-weight: bold;
    font-size: 34px;
    line-height: 33px;
    text-align: center;

    background: var(--back-box);
}

.nav-menu a {
    padding-top: 15px;
    background: var(--front-box);
}

.nav-menu .top-btn {
    top: -15px;

    width: 135px;
    height: 57px;
}

.nav-menu .bottom-btn {
    top: 73px;

    width: 220px;
    height: 57px;

    font-size: 42px;
}

.home-btn {
    left: 20px;
}

.posts-btn {
    left: 185px;
}

.links-btn {
    left: 350px;
}

.projects-btn {
    left: 20px;
}

.about-me-btn {
    left: 265px;
}

.div-bar {
    top: 245px;
    left: 20px;

    width: 1385px;
    height: 28px;

    background: #00AE32;
}

.error-panel {
    top: 300px;
    left: 20px;

    width: 1385px;
    height: 716px;

    background: var(--back-box);
}

.error-panel img {
    top: 40px;
    left: 500px;

    width: 388px;
    height: 358px;
    border-radius: 50px;
    z-index: 1;

    background: var(--good-gray);
}

.error-panel .front-box {
    top: 20px;
    left: 20px;

    width: 1345px;
    height: 675px;

    font-size: 0px;

    background: var(--front-box);
}

.error-panel h2 {
    top: 315px;
    left: 30px;

    width: 1335px;
    height: 100px;

    font-size: 100px;
    font-weight: bold;
    line-height: 104px;
    align-items: center;
    text-align: center;

    background: transparent;
}

.error-panel p{
    top: 450px;
    left: 385px;

    width: 616px;
    height: 100px;

    font-size: 57px;
    line-height: 60px;
    align-items: center;
    text-align: center;

    background: transparent;
}

.bottom-space {
    top: 1025px;
    opacity: 0;
}